# manifests/nginx/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: simple-nginx-svc
  namespace: argocd
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30090
  selector:
    app: simple-nginx
